<!DOCTYPE html>
<hmtl xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>TRANSAÇÕES</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <h1 style="text-align: center" th:text="#{form.title}">IMPORTAR TRANSAÇÕES</h1>

        <div role="alert" th:if="${message}" th:text="#{${message}}" th:class="${'alert ' + alertClass}"></div>
        
        <form method="post" th:action="@{/form/upload}" enctype="multipart/form-data">
            <div class="mb-3 ">
                <input class="form-control" type="file" name="file" id="formFile">
                <label for="formFile" class="form-label" th:text="#{form.field.title}">Selecione o arquivo para realizar upload</label>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{form.button.importar}">Importar</button>
        </form>
    </div>
    </body>
</hmtl>